__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# PufferPanel server runtime artifacts
host.config
modio.token
.installed_version
*.zip
FireworksManiaDedicatedLinux.x86_64
FireworksManiaDedicatedLinux_Data/
UnityPlayer.so
